# Bazel settings that apply to this repository.
# Take care to document any settings that you expect users to apply.
# Settings that apply only to CI are in .github/workflows/ci.bazelrc

# Use downloaded JDK 15 for all Java needs (replaces --javabase)
build --java_runtime_version=remotejdk_15
# We cannot use build --incompatible_strict_action_env
# because we rely on the system PATH to find python.exe
# Speed up all builds by not checking if output files have been modified.
build --noexperimental_check_output_files
# Always show output on errors
test --test_output=errors

# Allow developers to add repo-specific overrides in their own personal .bazelrc.user file.
# This should be the very last line in .bazelrc.
try-import %workspace%/.bazelrc.user
