# Global options set on every build and test
# Use downloaded JDK 15 for all Java needs (replaces --javabase)
build --java_runtime_version=remotejdk_15
# We cannot use build --incompatible_strict_action_env
# because we rely on the system PATH to find python.exe
# Speed up all builds by not checking if output files have been modified.
build --noexperimental_check_output_files
# aspects_rules_js requires --enable_runfiles on Windows to work
build --enable_runfiles
# Always show output on errors
test --test_output=errors

# Allow developers to add repo-specific overrides in their own personal .bazelrc.user file.
# This should be the very last line in .bazelrc.
try-import %workspace%/.bazelrc.user